#sidebar-content.markdown-body {
	padding: 0;
}
/* Prevent wrapping on large file names. */
li.file {
	white-space: nowrap;
}
ol.tree
{
  padding: 0 0 0 30px;
  width: 300px;
}
ol.tree li
{
  position: relative;
  margin-left: -15px;
  list-style: none;
}
ol.tree li.file
{
  margin-left: -1px !important;
  height: 1.5em;
}
ol.tree li.file a
{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
ol.tree li.file a span.icon
{
  width: 14px;
  height: 18px;
  background: url(images/fileview/document.png) 0 0 no-repeat;
  display: inline-block;
  margin-right: 7px;
  vertical-align: text-top;
}
ol.tree li.file a[href *= '.pdf'] span.icon { background: url(images/fileview/document.png) 0 0 no-repeat; }
ol.tree li.file a[href *= '.html'] span.icon { background: url(images/fileview/document.png) 0 0 no-repeat; }
ol.tree li.file a[href $= '.css'] span.icon { background: url(images/fileview/document.png) 0 0 no-repeat; }
ol.tree li.file a[href $= '.js']  span.icon { background: url(images/fileview/document.png) 0 0 no-repeat; }
ol.tree li input
{
  position: absolute;
  left: -3px;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
  top: 1px;
}
ol.tree li input + ol
{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABUklEQVQ4y6XTIUgcYBQH8N8dE6ZrJkE3h8Ms8pJRNCyKfXWsLmxiMQ2LIJgMBqPJYFGwbHpNeM3iWBAGBosDy4ELlndwHHee4CsffO99//d////7eGE0BiUiYhJTmEAbN7jOzPsnASKiiR9YwTTGKnWLP9jOzMO+ABExg1N8wDkO0MI4lrFWpfv4mpntRk/n35jERmZu9WH3BkdYwufM3OsG2MQ6vvd73AP0E/OYa3YJtoLzYY8rNkqb1WZdTJVgB8907wqXWOwATBRiq2vWQfRHMvMWf7HQAWjXOR4RDYwMAsjMh6oZxd2rur8pn5czs4V/Q0Z4i/c46zC4riVZe4p+VyxhFsfNonWP7UoeDbFwBju1aCe9m7iLL/hVVl2VYCLiXXXewX98zMyLXoDX+IStcuWy1B6tmWer87fMvBj4GyNiGqtYxALucIZjnGRmxzWPYbhs4zJVl4IAAAAASUVORK5CYII=') 0px 0 no-repeat;
  margin: -1.7em 0 0 -4px; /* 20px */
  padding: 1.763em 0 0 40px;
  height: 0px;
}
ol.tree li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
ol.tree li label
{
  background: url(images/fileview/folder-horizontal.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 37px;
}

ol.tree li input:checked + ol
{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABpUlEQVQ4y6XTP0iVYRQG8N+9OdgfGqRArpZSOEe8UwWC6NAoNjsFUUvQUNJiS7QIgVNFUKCDU4OLQUupU8KpRQJDQhK84GIRhElky7nwcdGWvuV7ec7zPuf5znM+/vOpHVYopfSgF93YxRY2IuLHPwVKKXU8xCj6cCxL21jH44h4daBAKeUc3uA8ljCHZXRhBBNJfYk7EbFba+v8GT2YjIipA9wdxzyGcSMinlcFHuE+7rUul1JG0YkOLEXE18Tf4iIu1CsDG01StfNsfsYsBiv4ZM5mrJ5Abw5srs31z8r5d+W8hlUMdSTQnYrL6egEfqFeuXSylHIa3yJiu5Syicstwm6+u0opNVzHHk5hH3/wDB8xkJyj2GkJbGXOIxGxHxHTuFXpXscHDEbEJ5xBPxZbAhu5JBMZlYh4itu5K+sYj4gvyR/GABaOQLPZ3Gs0Gt9xDVeazeZM4iuNRmMHLyJipbJs83iPB+2b+AQ38S6jWouI7aydzc7TmcjViFhpF+jEOKYylVVs5sD60/YS7rYc1Q75E/swhiFcwg4WsYDXEdFKzV9jqpXR88mZagAAAABJRU5ErkJggg==') 0px 0px no-repeat;
  height: auto;
}
ol.tree li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
ol.tree li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
