#wiki-sidebar {
	position: relative;
	z-index: 1;
	margin-left: 1em;
	width: 250px;
}
#wiki-body .markdown-body {
	overflow: visible;
}
.has-sidebar #wiki-body {
	clear: none;
	width: auto;
	float: none;
}

@media all and (max-width: 640px) {
	#wiki-sidebar {
		width: 100%;
	}
}

#sidebar-content.markdown-body {
	padding: 0;
}
/* Prevent wrapping on large file names. */
li.file {
	white-space: nowrap;
}
ol.tree
{
  padding: 0 0 0 30px;
  width: 300px;
}
ol.tree li
{
  position: relative;
  margin-left: -15px;
  list-style: none;
}
ol.tree li.file
{
  margin-left: -1px !important;
  height: 1.5em;
}
ol.tree li.file a
{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
ol.tree li.file a span.icon
{
  width: 14px;
  height: 18px;
  background: url(images/fileview/document.png) 0 0 no-repeat;
  display: inline-block;
  margin-right: 7px;
  vertical-align: text-top;
}
ol.tree li.file a[href *= '.pdf'] span.icon { background: url(images/fileview/document.png) 0 0 no-repeat; }
ol.tree li.file a[href *= '.html'] span.icon { background: url(images/fileview/document.png) 0 0 no-repeat; }
ol.tree li.file a[href $= '.css'] span.icon { background: url(images/fileview/document.png) 0 0 no-repeat; }
ol.tree li.file a[href $= '.js']  span.icon { background: url(images/fileview/document.png) 0 0 no-repeat; }
ol.tree li input
{
  position: absolute;
  left: -3px;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
  top: 1px;
}
ol.tree li input + ol
{
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEzIDEzIiBoZWlnaHQ9IjEzIiB3aWR0aD0iMTMiIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiMzMzMzMzM7c3Ryb2tlLXdpZHRoOjEiPjxjaXJjbGUgcj0iNiIgY3k9IjYuNSIgY3g9IjYuNSIvPjxwYXRoIGQ9Im0gMyw2LjUgNywwIi8+PHBhdGggZD0ibSA2LjUsMyAwLDciLz48L3N2Zz4gCg==') 2px 2px no-repeat;
  margin: -1.7em 0 0 -4px; /* 20px */
  padding: 1.763em 0 0 40px;
  height: 0px;
}
ol.tree li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
ol.tree li label
{
  background: url(images/fileview/folder-horizontal.png) 15px 1px no-repeat;
  display: block;
  padding-left: 37px;
}
ol.tree li.file label {
  cursor: pointer;
}

ol.tree li input:checked + ol
{
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEzIDEzIiBoZWlnaHQ9IjEzIiB3aWR0aD0iMTMiIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiMzMzMzMzM7c3Ryb2tlLXdpZHRoOjEiPjxjaXJjbGUgcj0iNiIgY3k9IjYuNSIgY3g9IjYuNSIvPjxwYXRoIGQ9Im0gMyw2LjUgNywwIi8+PC9zdmc+IAo=') 2px 2px no-repeat;
  height: auto;
}
ol.tree li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
ol.tree li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
